<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_todo.css') }}">
</head>
<body>
    <h1>{{ image_name }}</h1>
    <table>
        <thead>
            <tr>
                <th>Service</th>
                <th>Statuses</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <td>{{ service.name }}</td>
                <td>
                    {% for status in service.statuses %}
                    <a href="{{ url_for('update_status', service=service.name, status=status) }}">
                        <button class="status {% if statuses.get(service.name, {}).get(status) %}done{% endif %}">
                            {{ status }}
                        </button>
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

